services:
  - type: web
    name: ppap-docx-generator
    runtime: python
    repo: https://github.com/Tiger-khanhtrc/pdf-docx-service
    region: singapore
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: ENVIRONMENT
        value: production
    autoDeploy: true
    healthCheckPath: /health